*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

bodY{
   background-color: hsl(0deg 0% 95%);
}


.cardsec{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: sans-serif;
}

.cardcolumn{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    line-height: 1.4;
    position: relative;
}

.card{
   height: 60vh;
    max-width: 50vh;
    margin: 100px auto 20px;
    padding: 40px auto 20px;
 background-color: hsl(31deg 77% 52%);
    padding-left: 8%;
    padding-right: 8%;
}


.card:nth-child(2){
    background-color: hsl(184deg 100% 22%);
}


.card:nth-child(3){
    background-color: hsl(179deg 100% 13%);
}

.card img{
    width: 5rem;
    margin-top: 10%;
    margin-bottom: 2rem;

}

.card h1{
  color: hsl(0deg 0% 95%);
    font-size: 2.1rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
    font-weight: 700px;
   
    
}

.card p{
    color: white;
    font-size: 1.2rem;
    opacity: 0.6;
    width: 100%;
    margin-bottom: 2rem;
}

.card a {

text-decoration: none;
display: flex;

background-color: hsl(0deg 0% 95%);
display: inline-block;
padding: 16px;
border-radius: 80px;
font-size: 12px;
transition: 1s;
border: none;
align-items: center;
justify-content: center;
padding: 14px 30px;
cursor: pointer;

}

.first{
    color:  hsl(31deg 77% 52%);;
   margin-top: 9%;
    display: inline-block;
}

.second{
    color: hsl(184deg 100% 22%);

}

.last{
    color: hsl(179deg 100% 13%);
    margin-top: 9%;
    display: inline-block;
    
}

.first:hover{
    background-color: transparent;
    outline: 2px solid var(--very-light-gray);
    color: var(--very-light-gray);
    
}

.second:hover{
    background-color: transparent;
    outline: 2px solid var(--very-light-gray);
    color: var(--very-light-gray);
}

.last:hover{

    background-color: transparent;
    outline: 2px solid var(--very-light-gray);
    color: var(--very-light-gray);

}
